body {
  background-color: yellow;
}

h1 {
  color: #FF69B4;
  text-shadow: 2px 2px orange;
}

h3 { 
  color: #996633;
  text-shadow: 2px 2px orange;
}

h4 {
  color: #996633;
  text-shadow: 2px 2px orange;
}

.btn-large { 
  background: #00E5EE;
  color: #FF69B4;
  text-align: center;
}

#homepage {
  background-color: black;
  color: white;
}

#time_machine {
  max-height: 250px;
}