<h1>Edit a Skill</h1>
<form action="/skills/<%=@skill.id %>" method="post"> 
  <input type="hidden" name="_method" value="put">
  <h4>Skill: </h4><textarea name='skill[name]'><%= @skill.name %></textarea><br/>
  <h4>Status: </h4><textarea name='skill[status]'><%= @skill.status %></textarea><br/>
  <input type='submit'/ >
</form>