.container
  .row 
    .col.s6
      %img{:src => "/images/Technology.jpg"}
    .col.s6
      %h1 Add a new skill
      %form{:action => "/skills", :method => "post"}
        %h4 New Skill: 
        %input{ :name => "skill[name]", :type => 'text'}
        %h4 New Status:
        %input{:name => "skill[status]", :type => 'text'}
        %br/
        %input.waves-effect.waves-light.btn-large{:type => "submit", :value => "submit"}
  %a.btn-large.material-icon{ :href => '/', :id => 'homepage'}homepage
