<h1>Add a new skill</h1>
<form action="/skills" method="post">
  <h4>Skill: </h4><textarea name='skill[name]'/></textarea><br/>
  <h4>Status: </h4><textarea name='skill[status]'></textarea><br/>
  <input type='submit'/ value="submit" >
</form>